In [239]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import csv

In [3]:
df = pd.read_csv(r"C:\Users\saran\Documents\INEURON\EDA\FitBit\FitBit\FITBIT.csv")

In [4]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [5]:
df["ActivityDate"] = pd.to_datetime(df["ActivityDate"])

In [6]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [7]:
df["date"] = df["ActivityDate"].dt.day #date
df["month"] = df["ActivityDate"].dt.month
df["year"] = df["ActivityDate"].dt.year
df["day"] = df["ActivityDate"].dt.day_name()
df["week"] = df["ActivityDate"].dt.week

<ipython-input-7-53f085778119>:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["week"] = df["ActivityDate"].dt.week

In [8]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
date                                 int64
month                                int64
year                                 int64
day                                 object
week                                 int64
dtype: object

In [9]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories', 'date', 'month',
       'year', 'day', 'week'],
      dtype='object')

OUTLIER DETECTION BY Z SCORE

In [217]:
df1 = df[[ 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes']]

In [218]:
z = np.abs(stats.zscore(df1))

In [219]:
df2 = df1[(z<3).all(axis=1) & (z>-3).all(axis=1)]

In [220]:
df2

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes
0,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.00,33,12,205,804
1,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.00,89,17,274,588
2,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.00,56,5,268,605
3,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.00,39,20,224,1080
4,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.00,28,28,243,763
...,...,...,...,...,...,...,...,...,...,...,...,...
449,10695,8.12,8.12,0.0,0.77,0.18,7.09,0.01,10,3,246,1181
451,10910,8.42,8.42,0.0,2.96,0.39,5.03,0.00,32,11,212,1185
453,16470,8.07,8.07,0.0,0.00,0.02,8.02,0.00,90,9,289,1052
455,10622,8.06,8.06,0.0,1.47,0.15,6.37,0.01,18,7,225,1190
456,2350,1.78,1.78,0.0,0.00,0.00,1.78,0.00,0,0,58,531

In [197]:
print(df2.shape)
print(df1.shape)

(398, 12)
(457, 12)

In [235]:
outlier = (457-398)
print(outlier)

59

OUTLIER DETECTION BY IQR method

In [285]:
df1 = df[[ 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes']]

In [269]:
q1 = df1.quantile(0.25)
q3 = df1.quantile(0.75)
iqr = (q3-q1)

In [281]:
df2= df1[~((df1 < (q1 - 1.5 * iqr)) | (df1 > (q3 + 1.5*iqr))).any(axis=1)]

In [271]:
df1.shape

(457, 12)

In [282]:
df2.shape

(323, 12)

In [237]:
outliers = (457-323)
print(outliers)

134

In [283]:
from sklearn.neighbors import LocalOutlierFactor

In [284]:
lof = LocalOutlierFactor(n_jobs=-1)

In [297]:
label = list(lof.fit_predict(df1 ))

In [303]:
label.count(-1)

38

In [304]:
from sklearn.ensemble import IsolationForest

In [305]:
ift = IsolationForest()

In [308]:
label = list(ift.fit_predict(df1))

In [309]:
label.count(-1)

47

In [310]:
from sklearn.cluster import DBSCAN

In [337]:
db = DBSCAN(eps=2,min_samples=20)

In [338]:
label = list(db.fit_predict(df1 ))